<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<h2>Users</h2>
<div *ngIf="showUserForm">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" 
      [(ngModel)]="user.firstName" name="firstName"
      [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}"
      #userFirstName="ngModel"
      required minlength="2">
      <div class="invalid-feedback">Firstname required</div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label>E-Mail Address</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" [(ngModel)]="user.age" name="age">
    </div>
    <button [disabled]="!enabledAdd || !userForm.form.valid" class="btn btn-block mb-3"
      [ngClass]="currentClasses">Add User</button>
  </form>
</div>
<ul *ngIf="users?.length > 0" class="list-unstyled">
  <!-- <ul *ngIf="users.length > 0; else noUsers"> -->
  <li *ngFor="let user of users" class="card card-body mb-2" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''">
    <div class="row">
      <div class="col-sm-4">
        <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt="">
        <!-- <img *ngIf="user.image" class="img-fluid" bind-src="user.image" alt=""> -->
      </div>
      <div class="col-sm-8">
        <div [ngStyle]="currentStyles(user)">{{user.firstName | uppercase}} {{user.lastName}}</div>
        <div>{{user.email | uppercase}}</div>
        <small>
          <button (click)="toggleExtend(user)" class="btn btn-dark btn-sm">
            <i [class]="user.showExtended ? 'fa fa-minus' : 'fa fa-plus'"></i>
          </button>
        </small>
        <ul *ngIf="user.showExtended && (user.age || user.gender)" class="list-group mt-2">
          <li *ngIf="user.age" class="list-group-item">
            <em>Age: {{user.age}}</em>
          </li>
          <li *ngIf="user.gender" class="list-group-item">Gender: {{user.gender}}</li>
          <li *ngIf="user.balance" class="list-group-item">Balance: {{user.balance | currency:"EUR"}}</li>
          <li *ngIf="user.registered" class="list-group-item">Registered: {{user.registered | date:"dd.MM.yyyy"}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>

<!-- <ng-template #noUsers><h4>No users found</h4></ng-template> -->
<h4 *ngIf="users?.length == 0">No users found</h4>

<h4 *ngIf="!loaded">Loading users...</h4>